/* line 5, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../../grids/_myt-grids.sass */
.myt-sb-main {
  overflow: hidden;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 65, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
/* line 66, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 67, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
/* line 71, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-sb-main, head:hover ~ body .myt-sb-main {
  position: relative;
}
/* line 74, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-sb-main:before, head:hover ~ body .myt-sb-main:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2IzYjNmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.1)), color-stop(80%, rgba(179, 179, 255, 0.1)), color-stop(80%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.47458%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
/* line 103, ../../lib/_mixins.scss */
.myt-sb-main > *:nth-child(1) {
  display: block;
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}
@media (min-width: 30rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main > *:nth-child(1) {
    display: block;
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 40rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main > *:nth-child(1) {
    display: block;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 50rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main > *:nth-child(1) {
    display: block;
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 80rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main > *:nth-child(1) {
    display: block;
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 103, ../../lib/_mixins.scss */
.myt-sb-main > *:nth-child(2) {
  display: block;
  width: 49.15254%;
  float: right;
  margin-right: 0;
}
@media (min-width: 30rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main > *:nth-child(2) {
    display: block;
    width: 57.62712%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 40rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main > *:nth-child(2) {
    display: block;
    width: 66.10169%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 50rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main > *:nth-child(2) {
    display: block;
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 80rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main > *:nth-child(2) {
    display: block;
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
}
/* line 103, ../../lib/_mixins.scss */
.myt-sb-main > *:nth-child(3) {
  display: none;
}

/* line 9, ../../grids/_myt-grids.sass */
.myt-sb-main-simple {
  overflow: hidden;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 71, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-sb-main-simple, head:hover ~ body .myt-sb-main-simple {
  position: relative;
}
/* line 74, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-sb-main-simple:before, head:hover ~ body .myt-sb-main-simple:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2IzYjNmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.1)), color-stop(80%, rgba(179, 179, 255, 0.1)), color-stop(80%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.47458%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
/* line 103, ../../lib/_mixins.scss */
.myt-sb-main-simple > *:nth-child(1) {
  display: block;
  float: left;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 30rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-simple > *:nth-child(1) {
    display: block;
    float: left;
    width: 41.66667%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 40rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-simple > *:nth-child(1) {
    display: block;
    float: left;
    width: 33.33333%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 50rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-simple > *:nth-child(1) {
    display: block;
    float: left;
    width: 25%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 80rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-simple > *:nth-child(1) {
    display: block;
    float: left;
    width: 16.66667%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 103, ../../lib/_mixins.scss */
.myt-sb-main-simple > *:nth-child(2) {
  display: block;
  float: left;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 30rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-simple > *:nth-child(2) {
    display: block;
    float: left;
    width: 58.33333%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 40rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-simple > *:nth-child(2) {
    display: block;
    float: left;
    width: 66.66667%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 50rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-simple > *:nth-child(2) {
    display: block;
    float: left;
    width: 75%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 80rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-simple > *:nth-child(2) {
    display: block;
    float: left;
    width: 83.33333%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 103, ../../lib/_mixins.scss */
.myt-sb-main-simple > *:nth-child(3) {
  display: none;
}

/* line 13, ../../grids/_myt-grids.sass */
.myt-sb-main-sb {
  overflow: hidden;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 71, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-sb-main-sb, head:hover ~ body .myt-sb-main-sb {
  position: relative;
}
/* line 74, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-sb-main-sb:before, head:hover ~ body .myt-sb-main-sb:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2IzYjNmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.1)), color-stop(80%, rgba(179, 179, 255, 0.1)), color-stop(80%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.47458%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
/* line 103, ../../lib/_mixins.scss */
.myt-sb-main-sb > *:nth-child(1) {
  display: block;
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}
@media (min-width: 40rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-sb > *:nth-child(1) {
    display: block;
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 50rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-sb > *:nth-child(1) {
    display: block;
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 80rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-sb > *:nth-child(1) {
    display: block;
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 103, ../../lib/_mixins.scss */
.myt-sb-main-sb > *:nth-child(2) {
  display: none;
}
@media (min-width: 40rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-sb > *:nth-child(2) {
    display: block;
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 50rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-sb > *:nth-child(2) {
    display: block;
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 80rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-sb > *:nth-child(2) {
    display: block;
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 103, ../../lib/_mixins.scss */
.myt-sb-main-sb > *:nth-child(3) {
  display: block;
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
@media (min-width: 40rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-sb > *:nth-child(3) {
    display: block;
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 50rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-sb > *:nth-child(3) {
    display: block;
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 80rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-sb-main-sb > *:nth-child(3) {
    display: block;
    width: 15.25424%;
    float: right;
    margin-right: 0;
  }
}

/* line 17, ../../grids/_myt-grids.sass */
.myt-main {
  overflow: hidden;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 71, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-main, head:hover ~ body .myt-main {
  position: relative;
}
/* line 74, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-main:before, head:hover ~ body .myt-main:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2IzYjNmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.1)), color-stop(80%, rgba(179, 179, 255, 0.1)), color-stop(80%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.47458%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
/* line 103, ../../lib/_mixins.scss */
.myt-main > *:nth-child(1) {
  display: none;
}
/* line 103, ../../lib/_mixins.scss */
.myt-main > *:nth-child(2) {
  display: block;
  width: 100%;
  float: right;
  margin-right: 0;
}
/* line 103, ../../lib/_mixins.scss */
.myt-main > *:nth-child(3) {
  display: none;
}

/* line 21, ../../grids/_myt-grids.sass */
.myt-25-25-25-25 {
  overflow: hidden;
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 71, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-25-25-25-25, head:hover ~ body .myt-25-25-25-25 {
  position: relative;
}
/* line 74, ../../../../.rvm/gems/ruby-2.1.1@mytal/gems/susy-2.2.12/sass/susy/language/susy/_background.scss */
head:hover ~ .myt-25-25-25-25:before, head:hover ~ body .myt-25-25-25-25:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2IzYjNmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.1)), color-stop(80%, rgba(179, 179, 255, 0.1)), color-stop(80%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.1), rgba(179, 179, 255, 0.1) 80%, rgba(0, 0, 0, 0) 80%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.47458%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
/* line 103, ../../lib/_mixins.scss */
.myt-25-25-25-25 > *:nth-child(1) {
  display: block;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 30rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-25-25-25-25 > *:nth-child(1) {
    display: block;
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 103, ../../lib/_mixins.scss */
.myt-25-25-25-25 > *:nth-child(2) {
  display: block;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 30rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-25-25-25-25 > *:nth-child(2) {
    display: block;
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 103, ../../lib/_mixins.scss */
.myt-25-25-25-25 > *:nth-child(3) {
  display: block;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 30rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-25-25-25-25 > *:nth-child(3) {
    display: block;
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 103, ../../lib/_mixins.scss */
.myt-25-25-25-25 > *:nth-child(4) {
  display: block;
  width: 100%;
  float: right;
  margin-right: 0;
}
@media (min-width: 30rem) {
  /* line 103, ../../lib/_mixins.scss */
  .myt-25-25-25-25 > *:nth-child(4) {
    display: block;
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}

/* line 4, ../../lib/_mixins.scss */
.myt-sb-main > * {
  background: beige;
  border: 1px dashed rgba(50, 50, 50, 0.25);
  padding: 1.8rem;
  color: rgba(50, 50, 50, 0.25);
}
/* line 10, ../../lib/_mixins.scss */
.myt-sb-main > *:hover {
  border-color: #323232;
  color: #323232;
}

/* line 4, ../../lib/_mixins.scss */
.myt-sb-main-simple > * {
  background: beige;
  border: 1px dashed rgba(50, 50, 50, 0.25);
  padding: 1.8rem;
  color: rgba(50, 50, 50, 0.25);
}
/* line 10, ../../lib/_mixins.scss */
.myt-sb-main-simple > *:hover {
  border-color: #323232;
  color: #323232;
}

/* line 4, ../../lib/_mixins.scss */
.myt-sb-main-sb > * {
  background: beige;
  border: 1px dashed rgba(50, 50, 50, 0.25);
  padding: 1.8rem;
  color: rgba(50, 50, 50, 0.25);
}
/* line 10, ../../lib/_mixins.scss */
.myt-sb-main-sb > *:hover {
  border-color: #323232;
  color: #323232;
}

/* line 4, ../../lib/_mixins.scss */
.myt-main > * {
  background: beige;
  border: 1px dashed rgba(50, 50, 50, 0.25);
  padding: 1.8rem;
  color: rgba(50, 50, 50, 0.25);
}
/* line 10, ../../lib/_mixins.scss */
.myt-main > *:hover {
  border-color: #323232;
  color: #323232;
}

/* line 4, ../../lib/_mixins.scss */
.myt-25-25-25-25 > * {
  background: beige;
  border: 1px dashed rgba(50, 50, 50, 0.25);
  padding: 1.8rem;
  color: rgba(50, 50, 50, 0.25);
}
/* line 10, ../../lib/_mixins.scss */
.myt-25-25-25-25 > *:hover {
  border-color: #323232;
  color: #323232;
}

/* line 49, ../sass/page-layouts.sass */
h1 {
  color: #ccc;
  font-size: 2rem;
  line-height: 1.8;
  margin: 1rem 0 1rem 0;
}

/* line 55, ../sass/page-layouts.sass */
h2 {
  font-size: 1.6rem;
  line-height: 1.8;
  margin: 3rem 0 1rem 0;
  border-bottom: 1px solid #ddd;
}

/* line 61, ../sass/page-layouts.sass */
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 2rem 4rem;
}
